@charset "UTF-8";:root {
    --bgColor01: #ffffff;
    --bgColor02: #e7d0bb;
    --bgColor03: #345069;
    --bgColor04: #d1d1d1;
    --bgColor05: #acacac;
    --bgColor06: #f7f7f7;
    --bgColor07: #c9aa8d;
    --bgColor08: #f5f4f2;
    --bgColor09: #e2e2e2;
    --bgColor10: #dbb897;
    --bgColor11: #a2a2a2;
    --bgColor12: #f5f5f5;
    --bgColor13: #000000;
    --bgColor14: #eeeaeb;
    --bgColor15: #197356;
    --bgColor16: #27292e;
    --bgColor17: #e4e4e4;
    --bgColor18: #f3eee9;
    --bgColor19: #eff1f6;
    --bgColor20: #166c51;
    --bgColor21: #0f0f0f;
    --bgColor22: #dc3636;
    --bgColor23: #f9f9f9;
    --bgColor24: #989ca1;
    --bgColor25: #f2f2f2;
    --bgColor26: #7f96b6;
    --bgColor27: #52aeca;
    --bgColor30: #313644;
    --bgColor31: #f5eee8;
    --bgColor32: #c600be;
    --bgColor33: #ff003d;
    --bgColor34: #e3b57c;
    --bgColor35: #dab89a;
    --bgColor36: #ce9a6d;
    --bgColor37: #939bb0;
    --bgColor38: #494c5c;
    --bgColor39: #f3991b;
    --bgColor40: #fcfcfc;
    --bgColor01_op: rgba(18, 110, 81, .97);
    --bgColor02_op: rgba(0, 0, 0, .8);
    --bgColor03_op: rgba(0, 0, 0, .6);
    --bgColor04_op: rgb(241, 241, 241, .1);
    --bgColor05_op: rgba(0, 0, 0, .5);
    --bgColor06_op: rgba(0, 0, 0, 0);
    --bgColor07_op: rgba(0, 0, 0, .2);
    --bgColor08_op: rgb(39, 41, 46, .95);
    --bgColor09_op: rgba(0, 0, 0, .35);
    --bgColor10_op: rgba(84, 69, 0, .35);
    --bgColor11_op: rgb(52, 80, 105, .5);
    --bgColor12_op: rgba(186, 193, 201, .6);
    --bgColor13_op: rgba(183, 183, 183, .4);
    --bgColor14_op: rgb(52, 80, 105, .35);
    --bgColor15_op: rgb(255, 255, 255, .9);
    --bgColor16_op: rgba(42, 42, 42, .32);
    --bgColor_Grad01-00: #126e51;
    --bgColor_Grad01-01: #31c798;
    --bgColor_Grad02-00: #3c3d3e;
    --bgColor_Grad02-01: #ababab;
    --bgColor_Grad03-00: #4f68e1;
    --bgColor_Grad03-01: #001ba1;
    --bgColor_Grad04-00: #e01921;
    --bgColor_Grad04-01: #761014;
    --bgColor_Grad05-00: #f4f4f4;
    --bgColor_Grad05-01: #e1e1e1;
    --bgColor_Grad06-00: #f7f7f7;
    --bgColor_Grad06-01: #ffffff;
    --bgColor_Grad07-00: #5875d7;
    --bgColor_Grad07-01: #3555c0;
    --bgColor_Grad08-00: #e63c3c;
    --bgColor_Grad08-01: #ba1818;
    --bgColor_Grad09-00: #f2d09b;
    --bgColor_Grad09-01: #dbb897;
    --bgColor_Grad09-02: #8e7054;
    --bgColor_Grad10-00: #f4f4f4;
    --bgColor_Grad10-01: #ffffff;
    --txtColor01: #ffffff;
    --txtColor02: #646464;
    --txtColor03: #dbdbdb;
    --txtColor04: #e5e5e5;
    --txtColor05: #111111;
    --txtColor06: #363636;
    --txtColor07: #8e7054;
    --txtColor08: #ededed;
    --txtColor09: #28755b;
    --txtColor10: #000000;
    --txtColor11: #2f3137;
    --txtColor12: #a5a6a6;
    --txtColor13: #161616;
    --txtColor14: #7f96b6;
    --txtColor15: #7e7f86;
    --txtColor16: #d11722;
    --txtColor17: #18a071;
    --txtColor18: #b6b6b6;
    --txtColor19: #494c54;
    --txtColor20: #d93e44;
    --txtColor21: #ffe418;
    --txtColor22: #d5d5d6;
    --txtColor23: #ffba00;
    --txtColor24: rgb(184, 184, 185, .5);
    --txtColor25: #272729;
    --txtColor26: #5875d7;
    --txtColor27: #239f65;
    --txtColor28: #342b24;
    --txtColor29: #555555;
    --txtColor30: #54728e;
    --txtColor31: #c9aa8d;
    --txtColor32: #dbb897;
    --txtColor33: #6a7391;
    --txtColor34: #345069;
    --txtColor35: #907155;
    --txtColor36: #ce9560;
    --txtColor37: #8ac7d7;
    --txtColor38: #989ca1;
    --txtColor39: #a3acc7;
    --txtColor40: #aa713c;
    --txtColor41: #b48152;
    --txtColor42: #979797;
    --txtColor43: #ff2358;
    --txtColor44: #4b5470;
    --txtColor45: #7c8797;
    --txtColor46: #54738d;
    --txtColor47: #47372a;
    --txtColor01_op: rgba(54, 54, 54, .8);
    --txtColorFoot01: #bbbcc2;
    --txtColorFoot02: #777777;
    --txtColorFoot03: #939393;
    --borderColor01: #ebebeb;
    --borderColor02: #464648;
    --borderColor03: #dddddd;
    --borderColor04: #c3c3c3;
    --borderColor05: #cacaca;
    --borderColor06: #c3b9b9;
    --borderColor07: #cfcfcf;
    --borderColor08: #debea0;
    --borderColor09: #dfdfdf;
    --borderColor10: #dbb897;
    --borderColor11: #aaaaaa;
    --borderColor12: #3c3d40;
    --borderColor13: #dbb897;
    --borderColor14: #616469;
    --borderColor15: #dec1a6;
    --borderColor16: #ffffff;
    --borderColor17: #342b24;
    --borderColor18: #393d46;
    --borderColor19: #c7b09b;
    --borderColor20: rgb(189, 198, 211, .5);
    --borderColor21: #b27b45;
    --borderColor22: #979797;
    --borderColor23: #000000;
    --borderColor24: #c99463;
    --borderColor25: #e0c1a7;
    --borderColor01_op: rgb(57, 62, 82, .6);
    --borderColor02_op: rgb(191, 191, 191, .5);
    --btnColor01: #01aa90;
    --btnColor02: #2d2f35;
    --btnColor03: #eaeaea;
    --btnColor04: #7f96b6;
    --btnColor05: #73747d;
    --btnColor06: #dc3636;
    --btnColor07: #242528;
    --btnColor08: #8e7054;
    --btnColor09: #56575e;
    --btnColor10: #4f6dc3;
    --btnColor11: #c9aa8d;
    --btnColor12: #ffffff;
    --btnColor13: #d93e44;
    --btnColor14: #ececec;
    --btnColor15: #3cb878;
    --btnColor16: #999999;
    --btnLevelColor01: #ed1b23;
    --btnLevelColor02: #ed601b;
    --btnLevelColor03: #edb41b;
    --btnLevelColor04: #0ab040;
    --btnLevelColor05: #0884be;
    --btnLevelColor06: #312ba8;
    --btnLevelColor07: #6c27a7
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    position: relative;
    font-size: 16px;
    width: 100%;
    height: 100%;
    font-family: Microsoft JhengHei,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5;
    background-color: #fff;
}

header {
    position: fixed;
    width: 100vw;
    height: 13vw;
    z-index: 1000;
    background: var(--bgColor01);
}

section .wrapper {
    padding: 5.5vw 3.4vw;
}
header .wrapper {
    padding: 0;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 3.4vw;
}
header .wrapper {
    width: 100vw;
    height: 13vw;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0vw 3.4vw;
}
div, section {
    width: 100%;
    position: relative;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: -.08vw;
}

